<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         backupGlobals="false"
         stopOnFailure="false"
         processIsolation="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="rejection">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>src/Blessing</directory>
    </whitelist>
  </filter>
</phpunit>
